<% from bottle import request %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Halfmoon recommended settings -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="viewport" content="width=device-width" />
    <title>{{f"TimeKeeper - {title}"}}</title>
    % include('components/halfmoon.html')
</head>
<body class="with-custom-webkit-scrollbars" data-dm-shortcut-enabled="true">
<div class="page-wrapper with-navbar">
    <div class="sticky-alerts"></div>
    <nav class="navbar">
        <div class="navbar-content">
            <button class="btn btn-action" type="button">
            <i class="fa fa-bars" aria-hidden="true"></i>
            <span class="sr-only">Toggle sidebar</span> <!-- sr-only = show only on screen readers -->
            </button>
        </div>
        <a href="/" class="navbar-brand">TimeKeeper</a>

        <ul class="navbar-nav">
            <li class="nav-item {{ 'active' if request.path == '/sign-in' else ''}}"><a class="nav-link" href="/sign-in">User Sign In/Out</a></li>

        </ul>
    </nav>
    <div class="sidebar"></div>
    <div class="content-wrapper">
        {{!base}}
    </div>
</div>
</body>
</html>