% rebase('components/template.html', title='Clock In/Out')
<div>

  <div class="card">
    <h2 class="card-title">Sign In/Out</h2>
    <form action="/sign-in" method="POST" class="form-inline">
      <div class="form-row row-eq-spacing-md flex-fill">
        <div class="form-group col-sm-8 col-md-9 col-lg-10">
          <label class="d-inline" for="id-number">ID number:</label>
          <input type="text" autofocus="autofocus" name="id_number" id="id-number" class="form-control ">
        </div>
        <div class="col-sm-4 col-md-3 col-lg-2 form-group">
          <button type="submit" class="btn btn-primary form-control m-5">Sign In/Out</button>
        </div>
      </div>
    </form>
    <a href="/create-user" class="btn btn-primary"><i class="fa fa-plus"></i> New User</a>
  </div>

  <div class="card">
    <h2 class="card-title">Signed In Users</h2>
    <a href="/sign-out-all" class="btn btn-danger">Sign Everyone Out</a>
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Time In</th>
        <th class="text-right" scope="col">Sign out</th>
      </tr>
      </thead>
      <tbody>
      % for (name, time_in, session_id) in signed_in_users:
      <tr>
        <td>{{name}}</td>
        <td>{{time_in.strftime("%X %p")}}</td>
        <td class="text-right"><a href="/sign-out/{{session_id}}" class="btn btn-action"><i class="fas fa-sign-out-alt"></i></a></td>
      </tr>
      % end
      </tbody>
    </table>
  </div>
</div>
