% rebase('components/template.html', title='Clock In/Out')
<form action="/sign-in" method="POST" class="form-group">
  <label for="id-number">ID number:</label>
  <input type="text" autofocus="autofocus" name="id_number" id="id-number" class="form-control">
  <button type="submit" class="btn btn-primary">Sign In/Out</button>
</form>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Time In</th>
  </tr>
  </thead>
  <tbody>
    % for (name, time_in) in signed_in_users:
      <tr>
        <td>{{name}}</td>
        <td>{{time_in}}</td>
      </tr>
    % end
  </tbody>
</table>
